.hall-section {
    padding: 50px 0 50px;
}

.hall-section__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
}    

.hall-section__item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    padding: 94px 170px;
    text-align: center;
    background-position: center;
    background-size: cover;
}    

.hall-section__text{
    max-width: 240px;
    display: inline-block;
    vertical-align: middle;
}     

.hall-section__item:nth-child(odd) {
    margin-right: 20px;

}

.hall-section__item_theme_vibes {
    background-image: url("../img/hall-80s-vibes.jpg");
}

.hall-section__item_theme_star {
    background-image: url("../img/hall-star-wars.jpg");
}

.hall-section__item_theme_wild {
    background-image: url("../img/hall-wild-west.jpg");
}

.hall-section__item_theme_neon {
    background-image: url("../img/hall-neon-style.jpg");
}   

.hall-section__title {
    margin-bottom: 60px;
}